@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

:root {
    --primary-color: #facc15;
    --secondary-color: #112240;
}

.container {
    margin: 0rem 6rem;
    padding: 1.5rem;
    /* width: 100%; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    border-bottom: 4px solid var(--secondary-color);
}

.container h1 {
    /* font-weight: 200; */
    font-size: 3rem;
}

.container h2 {
    font-weight: 100;
    font-size: 2rem;
    color: aliceblue;

}

.section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem;
}

textarea {
    width: 60%;
    height: 25vh;
    margin: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: 200;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 1rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}

::placeholder {
    color: var(--primary-color);
}

.section .btn-translate {
    width: 30%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 1rem 0rem;
    padding: 0.5rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    border-radius: 1rem;
    font-size: 1.5rem;
}

.btn-translate:hover {
    background-color: #193464;
    ;
    transition: 0.5s ease all;
}

.output {
    width: 60%;
    height: 27vh;
    margin: 1rem 0rem;
    font-size: 1.8rem;
    font-weight: 200;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 1rem;
    outline: none;
    overflow-wrap: break-word;
    border: 2px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}

.footer {
    margin: 0rem 6rem;
    padding: 1.5rem 0rem;
    /* width: 100%; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    border-top: 4px solid var(--secondary-color);
    font-size: 1rem;
}

.footer h2 {
    font-weight: 100;
    font-size: 1.8rem;
    color: aliceblue;
}